.admin h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.edit-btn,
.delete-btn {
    font-size: 1.1rem;
}

.edit-btn {
    background-color: #ffc813;
    color: #131313;
}

.delete-btn {
    background-color: #eb1717;
    color: #fdfdfd;
}